* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

canvas {
    border: 0.25vmin solid yellow;
    cursor: pointer;
    overflow: hidden;
}

@media (min-width: 768px) {
    @media (min-height: 600px) {
        canvas {
            height: 95vmin;
            width: 60vmin;
        }
    }
}
